header{
    background-color: rgb(222, 217, 217);
    color: white;
}
header>h1{
    color: rgb(68, 67, 65);
    text-shadow: 2px 2px 3px rgb(41, 40, 39);
}
header>nav>h2{
    color: black;
}
section img{
    width: 60%;
}

 .FotosGrupo1{    
    display: flex;
    justify-content: space-between
    margin-bottom: 5%;
}
.FotosGrupo2{    
    display: flex;
    justify-content: space-between
    margin-bottom: 5%;
}

/* #foto1 {
    justify-content: space-between
}*/
/* #foto2 {
    justify-content: space-between
} */
/* #foto3 {
    justify-content: space-between
} */
/* #foto4 {
    justify-content: space-between 
} */

footer{
    background-color: rgb(41, 40, 39);
    color: white;
}
/* div{
    padding-bottom: 5%;
    margin-bottom: 5%;
} */